/* levelViewsPriceHolder */
.levelViewsPriceHolder{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    
}
.levelViewsPriceHolder>li{
    list-style-type: none;
    font-size: 17.5px;
}

/* Colisor */
.colisorHolder{
    height:calc(90vw);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5px;
}
.colisorHolder>button{
    background-color: transparent;
    padding: 0;
}
.previous{
    position: absolute;
    left: 2%;
    top: 45%;
    height: 40px;
    border: none;
    outline: none;
    width: 40px;
    cursor: pointer;
}
.next{
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 45%;
    height: 40px;
    border: none;
    outline: none;
    width: 40px;
}
.playButtton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    outline: none;
    border: none;
}
.playButtton>div{
    padding:10px;
    visibility: hidden;
    outline: none;
}




/* Details */
.idDiamonds{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}



/* Emotes */
.emoteHolder{
    background-color: #00000060;
    margin-bottom: 5px;
    border-radius: 5px;
}
.emotesHolder{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}






/* Images */
.emotesImages{
    display: flex;
    justify-content: space-around;
}
.gunImageHolder{
    width: 45%;
}
.gunImageHolder>img{
    width: 100%;
    height: auto;
}

/* Add to Card or Buy Button */
.addToCardBuy,.previousNextHolder{
    display: flex;
    justify-content: space-between;
}

.addToCardBuy>button,.previousNextHolder>button,.sellId>button{
    padding: 8px 24px;
    width: 30%;
    border-radius: 7.5px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 1px 3px 5px #00000090;
    font-size: 14px;
    color: #fff;
}
.addToCardBuy{
    margin-bottom: 5px;
}
.nextIdButton,.buyIt,.sellId>button{
    background-color: rgb(5 222 52/80%);
}
.previousIdButton,.addtoCard{
    background-color: rgb(1 81 174 / 45%);
}



.mainBody{
    overflow: scroll;
    padding: 10px;
}